.clientListTableHeadings{
    width: 1000px;
    font-variant: small-caps ;
    justify-content: center;    
    border: 2px solid black;
    flex-direction: row;
    font-size: 25px;

}

.clientListTableRow{
    width: 500px;
    border: 2px solid black;
    text-align: center;
}

.clientListButton{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}