.clientListTableHeadings{
    width: 1000px;
    justify-content: center;    
    border: 2px solid black;
    flex-direction: row;
    font-size: 20px;
    padding-bottom: 10px;

   
}
.clientListTableHeadingsFirstName{
    width: 8%;
    justify-content: center;    
    border: 2px solid black;
    flex-direction: row;
    font-size: 20px;
    padding-bottom: 10px;
}
.clientListTableHeadingsLastName{
    width: 8%;
    justify-content: center;    
    border: 2px solid black;
    flex-direction: row;
    font-size: 20px;
    padding-bottom: 10px;
}
.clientListTableRow{
    width: 500px;
    border: 2px solid black;

    
}

.clientListButton{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
/* the border of the whole table */
.MuiTableBody-root{
    border: 2px solid black;
   
}



.clientTableOpenButtons{
    font-weight: 900;
    border: 3px solid black;
}

.clientTableOpenButtons:hover{
    font-weight: 900;
    border: 3px solid black;
    background-color: rgb(146, 183, 230);
}

.clientTableEditButtons{
    font-weight: 900;
    border: 3px solid black;
    width: 60px;
}

.clientTableEditButtons:hover{
    font-weight: 900;
    border: 3px solid black;
    background-color: rgb(146, 183, 230);
}

.clientTableDeleteButtons{
    font-weight: 900;
    border: 3px solid black;
    width: 70px;
}

.clientTableDeleteButtons:hover{
    font-weight: 900;
    border: 3px solid black;
    background-color: rgb(146, 183, 230);
}

.clientTableBodyAddress{
    width: 2000px;
}

.clientTableBody{
    background-color: rgb(229, 233, 232);
}