.ViewBookableItemTableContainer{
    background-color: rgb(229, 233, 232);
    width: 75%;
    margin-left: 25%;
    border: 3px solid black;
}


.ViewBookableItemTableRowHeading{
    width: 700px;

}

.ViewBookableItemTableRowName{
    border: 2px solid black;

}
.ViewBookableItemTableRowCompanyName{
    width: 50px;
    border: 2px solid black;
}
.ViewBookableItemTableCell{
    width: 80px;
}
/* make the table less width, and then add table scrollability  */

